body {
  background-color: #E3FDFD;
}
h1 {
  color: #71C9CE;
}
h3 {
  color: #71C9CE;
  background-color: #CBF1F5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
.thead {
  color: #71C9CE;
}
.name:hover {
  color: pink;
}
.size {
  font-size: 20px;
}
